body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14351 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:666px;
  overflow:hidden;
}
#u14351_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14351_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14352 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u14353 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  line-height:20px;
}
#u14354 {
  position:absolute;
  left:12px;
  top:494px;
  width:352px;
  height:205px;
  font-size:14px;
  color:#5E5E5E;
  line-height:20px;
}
#u14355 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u14356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14356 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u14357 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14358 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u14359 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14360 {
  position:absolute;
  left:161px;
  top:46px;
  width:94px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14361 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u14362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u14362 {
  position:absolute;
  left:32px;
  top:108px;
  width:177px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u14363 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u14364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u14364 {
  position:absolute;
  left:32px;
  top:148px;
  width:136px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u14365 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u14366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u14366 {
  position:absolute;
  left:313px;
  top:148px;
  width:72px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:center;
}
#u14367 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u14368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  line-height:20px;
}
#u14368 {
  position:absolute;
  left:32px;
  top:189px;
  width:352px;
  height:139px;
  font-size:14px;
  color:#5E5E5E;
  line-height:20px;
}
#u14369 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u14370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:119px;
}
#u14370 {
  position:absolute;
  left:32px;
  top:338px;
  width:352px;
  height:118px;
  font-size:16px;
}
#u14371 {
  position:absolute;
  left:2px;
  top:50px;
  width:348px;
  word-wrap:break-word;
}
#u14372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14372 {
  position:absolute;
  left:32px;
  top:477px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14373 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14374 {
  position:absolute;
  left:20px;
  top:636px;
  width:375px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u14375 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u14376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u14376 {
  position:absolute;
  left:353px;
  top:42px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u14377 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u14378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14378 {
  position:absolute;
  left:187px;
  top:716px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14379 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14380 {
  position:absolute;
  left:433px;
  top:653px;
  width:347px;
  height:16px;
  color:#FFFFFF;
}
#u14381 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
