body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1118px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:375px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13680 {
  position:absolute;
  left:20px;
  top:20px;
  width:666px;
  height:375px;
}
#u13681 {
  position:absolute;
  left:2px;
  top:180px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:380px;
}
#u13682 {
  position:absolute;
  left:20px;
  top:20px;
  width:666px;
  height:379px;
  font-size:30px;
  color:#A1A1A1;
}
#u13683 {
  position:absolute;
  left:2px;
  top:172px;
  width:662px;
  word-wrap:break-word;
}
#u13684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13684 {
  position:absolute;
  left:20px;
  top:20px;
  width:666px;
  height:50px;
}
#u13685 {
  position:absolute;
  left:2px;
  top:17px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13686 {
  position:absolute;
  left:91px;
  top:362px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13687 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13688 {
  position:absolute;
  left:569px;
  top:362px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13689 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13690 {
  position:absolute;
  left:54px;
  top:40px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u13691 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u13692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u13692 {
  position:absolute;
  left:34px;
  top:41px;
  width:8px;
  height:14px;
}
#u13693 {
  position:absolute;
  left:2px;
  top:-1px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u13694 {
  position:absolute;
  left:639px;
  top:33px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u13695 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u13696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13696 {
  position:absolute;
  left:778px;
  top:51px;
  width:331px;
  height:80px;
  color:#FFFFFF;
}
#u13697 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u13698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u13698 {
  position:absolute;
  left:43px;
  top:371px;
  width:21px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13699 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13700 {
  position:absolute;
  left:83px;
  top:372px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u13701 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u13702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13702 {
  position:absolute;
  left:611px;
  top:371px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u13703 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:3px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13704 {
  position:absolute;
  left:125px;
  top:378px;
  width:476px;
  height:3px;
}
#u13705 {
  position:absolute;
  left:2px;
  top:-6px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13706 {
  position:absolute;
  left:125px;
  top:378px;
  width:300px;
  height:3px;
}
#u13707 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:375px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13708 {
  position:absolute;
  left:20px;
  top:445px;
  width:666px;
  height:375px;
}
#u13709 {
  position:absolute;
  left:2px;
  top:180px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:380px;
}
#u13710 {
  position:absolute;
  left:20px;
  top:445px;
  width:666px;
  height:379px;
  font-size:30px;
  color:#A1A1A1;
}
#u13711 {
  position:absolute;
  left:2px;
  top:172px;
  width:662px;
  word-wrap:break-word;
}
#u13712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13712 {
  position:absolute;
  left:91px;
  top:787px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13713 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u13714 {
  position:absolute;
  left:569px;
  top:787px;
  width:41px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u13715 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u13716 {
  position:absolute;
  left:43px;
  top:796px;
  width:21px;
  height:17px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13717 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13718 {
  position:absolute;
  left:83px;
  top:797px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u13719 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u13720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13720 {
  position:absolute;
  left:611px;
  top:796px;
  width:41px;
  height:15px;
  font-size:12px;
}
#u13721 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:3px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13722 {
  position:absolute;
  left:125px;
  top:803px;
  width:476px;
  height:3px;
}
#u13723 {
  position:absolute;
  left:2px;
  top:-6px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:3px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13724 {
  position:absolute;
  left:125px;
  top:803px;
  width:300px;
  height:3px;
}
#u13725 {
  position:absolute;
  left:2px;
  top:-6px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:379px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.67843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13726 {
  position:absolute;
  left:20px;
  top:445px;
  width:666px;
  height:379px;
}
#u13727 {
  position:absolute;
  left:2px;
  top:182px;
  width:662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#C9C9C9;
}
#u13728 {
  position:absolute;
  left:326px;
  top:517px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#C9C9C9;
}
#u13729 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u13730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:2px;
}
#u13730 {
  position:absolute;
  left:91px;
  top:567px;
  width:519px;
  height:1px;
}
#u13731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:2px;
}
#u13732 {
  position:absolute;
  left:91px;
  top:687px;
  width:519px;
  height:1px;
}
#u13733 {
  position:absolute;
  left:2px;
  top:-8px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13735 {
  position:absolute;
  left:112px;
  top:596px;
  width:40px;
  height:40px;
}
#u13736 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#E4E4E4;
}
#u13737 {
  position:absolute;
  left:112px;
  top:646px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#E4E4E4;
}
#u13738 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u13739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13740 {
  position:absolute;
  left:218px;
  top:596px;
  width:40px;
  height:40px;
}
#u13741 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#E4E4E4;
}
#u13742 {
  position:absolute;
  left:212px;
  top:646px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#E4E4E4;
}
#u13743 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u13744 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13745 {
  position:absolute;
  left:329px;
  top:596px;
  width:40px;
  height:40px;
}
#u13746 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#E4E4E4;
}
#u13747 {
  position:absolute;
  left:326px;
  top:646px;
  width:47px;
  height:16px;
  font-size:13px;
  color:#E4E4E4;
}
#u13748 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u13749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13750 {
  position:absolute;
  left:436px;
  top:596px;
  width:40px;
  height:40px;
}
#u13751 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#E4E4E4;
}
#u13752 {
  position:absolute;
  left:433px;
  top:646px;
  width:47px;
  height:16px;
  font-size:13px;
  color:#E4E4E4;
}
#u13753 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u13754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13755 {
  position:absolute;
  left:540px;
  top:596px;
  width:40px;
  height:40px;
}
#u13756 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#E4E4E4;
}
#u13757 {
  position:absolute;
  left:546px;
  top:646px;
  width:27px;
  height:16px;
  font-size:13px;
  color:#E4E4E4;
}
#u13758 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u13759 {
  position:absolute;
  left:651px;
  top:466px;
  width:19px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u13760 {
  position:absolute;
  left:2px;
  top:-8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u13761 {
  position:absolute;
  left:651px;
  top:466px;
  width:19px;
  height:1px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u13762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13763 {
  position:absolute;
  left:669px;
  top:48px;
  width:0px;
  height:0px;
}
#u13763_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u13763_seg1 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:595px;
}
#u13763_seg2 {
  position:absolute;
  left:17px;
  top:583px;
  width:54px;
  height:8px;
}
#u13763_seg3 {
  position:absolute;
  left:10px;
  top:577px;
  width:21px;
  height:20px;
}
#u13764 {
  position:absolute;
  left:17px;
  top:277px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13765 {
  position:absolute;
  left:268px;
  top:883px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
