body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14917 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:666px;
}
#u14918 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14919 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u14920 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14921 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u14922 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14923 {
  position:absolute;
  left:102px;
  top:46px;
  width:212px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14924 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u14925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
}
#u14925 {
  position:absolute;
  left:20px;
  top:97px;
  width:375px;
  height:50px;
}
#u14926 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u14927 {
  position:absolute;
  left:38px;
  top:113px;
  width:162px;
  height:23px;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u14928 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u14929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
}
#u14929 {
  position:absolute;
  left:20px;
  top:146px;
  width:375px;
  height:50px;
}
#u14930 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u14931 {
  position:absolute;
  left:34px;
  top:146px;
  width:361px;
  height:1px;
  color:#AEAEAE;
}
#u14932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
}
#u14933 {
  position:absolute;
  left:20px;
  top:196px;
  width:375px;
  height:50px;
}
#u14934 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u14935 {
  position:absolute;
  left:34px;
  top:196px;
  width:361px;
  height:1px;
  color:#AEAEAE;
}
#u14936 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u14937 {
  position:absolute;
  left:38px;
  top:160px;
  width:162px;
  height:23px;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u14938 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u14939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u14939 {
  position:absolute;
  left:38px;
  top:209px;
  width:162px;
  height:23px;
  font-size:16px;
  color:#BCBCBC;
  text-align:left;
}
#u14940 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u14941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14941 {
  position:absolute;
  left:50px;
  top:281px;
  width:315px;
  height:40px;
  font-size:16px;
}
#u14942 {
  position:absolute;
  left:2px;
  top:10px;
  width:311px;
  word-wrap:break-word;
}
