body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1277px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14240 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:780px;
  overflow:hidden;
}
#u14240_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14240_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:842px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14241 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:842px;
}
#u14242 {
  position:absolute;
  left:2px;
  top:413px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14243 {
  position:absolute;
  left:20px;
  top:94px;
  width:375px;
  height:220px;
}
#u14244 {
  position:absolute;
  left:2px;
  top:102px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14245 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u14246 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14247 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u14248 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14249 {
  position:absolute;
  left:132px;
  top:46px;
  width:151px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14250 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u14251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:171px;
}
#u14251 {
  position:absolute;
  left:34px;
  top:108px;
  width:347px;
  height:170px;
  font-size:18px;
}
#u14252 {
  position:absolute;
  left:2px;
  top:74px;
  width:343px;
  word-wrap:break-word;
}
#u14253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14253 {
  position:absolute;
  left:27px;
  top:286px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14254 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14255 {
  position:absolute;
  left:350px;
  top:286px;
  width:36px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14256 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u14257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14257 {
  position:absolute;
  left:327px;
  top:286px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u14258 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  word-wrap:break-word;
}
#u14259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u14259 {
  position:absolute;
  left:34px;
  top:117px;
  width:61px;
  height:26px;
  font-size:10px;
  color:#6B6B6B;
}
#u14260 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u14261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14261 {
  position:absolute;
  left:20px;
  top:324px;
  width:375px;
  height:220px;
}
#u14262 {
  position:absolute;
  left:2px;
  top:102px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:171px;
}
#u14263 {
  position:absolute;
  left:34px;
  top:338px;
  width:347px;
  height:170px;
  font-size:18px;
}
#u14264 {
  position:absolute;
  left:2px;
  top:74px;
  width:343px;
  word-wrap:break-word;
}
#u14265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14265 {
  position:absolute;
  left:27px;
  top:516px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14266 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14267 {
  position:absolute;
  left:350px;
  top:516px;
  width:36px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14268 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u14269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14269 {
  position:absolute;
  left:327px;
  top:516px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u14270 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  word-wrap:break-word;
}
#u14271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u14271 {
  position:absolute;
  left:34px;
  top:347px;
  width:61px;
  height:26px;
  font-size:10px;
  color:#6B6B6B;
}
#u14272 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u14273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14273 {
  position:absolute;
  left:20px;
  top:554px;
  width:375px;
  height:220px;
}
#u14274 {
  position:absolute;
  left:2px;
  top:102px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:171px;
}
#u14275 {
  position:absolute;
  left:34px;
  top:568px;
  width:347px;
  height:170px;
  font-size:18px;
}
#u14276 {
  position:absolute;
  left:2px;
  top:74px;
  width:343px;
  word-wrap:break-word;
}
#u14277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14277 {
  position:absolute;
  left:27px;
  top:746px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14278 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14279 {
  position:absolute;
  left:350px;
  top:746px;
  width:36px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14280 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u14281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14281 {
  position:absolute;
  left:327px;
  top:746px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u14282 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  word-wrap:break-word;
}
#u14283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.666666666666667);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14283 {
  position:absolute;
  left:34px;
  top:636px;
  width:347px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u14284 {
  position:absolute;
  left:2px;
  top:8px;
  width:343px;
  word-wrap:break-word;
}
#u14285 {
  position:absolute;
  left:142px;
  top:1513px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14286 {
  position:absolute;
  left:438px;
  top:20px;
  width:375px;
  height:1364px;
  overflow:hidden;
}
#u14286_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1364px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14286_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1612px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14287 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1612px;
}
#u14288 {
  position:absolute;
  left:2px;
  top:798px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14289 {
  position:absolute;
  left:438px;
  top:20px;
  width:375px;
  height:64px;
}
#u14290 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14291 {
  position:absolute;
  left:447px;
  top:45px;
  width:24px;
  height:24px;
}
#u14292 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14293 {
  position:absolute;
  left:550px;
  top:46px;
  width:151px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14294 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u14295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14295 {
  position:absolute;
  left:605px;
  top:1425px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u14296 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14297 {
  position:absolute;
  left:438px;
  top:94px;
  width:375px;
  height:200px;
}
#u14298 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u14299 {
  position:absolute;
  left:456px;
  top:108px;
  width:340px;
  height:150px;
  font-size:26px;
  color:#AEAEAE;
}
#u14300 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  word-wrap:break-word;
}
#u14301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14301 {
  position:absolute;
  left:451px;
  top:267px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14302 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u14303 {
  position:absolute;
  left:456px;
  top:117px;
  width:61px;
  height:26px;
  font-size:10px;
  color:#6B6B6B;
}
#u14304 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u14305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14305 {
  position:absolute;
  left:438px;
  top:304px;
  width:375px;
  height:200px;
}
#u14306 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u14307 {
  position:absolute;
  left:456px;
  top:318px;
  width:340px;
  height:150px;
  font-size:26px;
  color:#AEAEAE;
}
#u14308 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  word-wrap:break-word;
}
#u14309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14309 {
  position:absolute;
  left:451px;
  top:477px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14310 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u14311 {
  position:absolute;
  left:456px;
  top:327px;
  width:61px;
  height:26px;
  font-size:10px;
  color:#6B6B6B;
}
#u14312 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u14313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14313 {
  position:absolute;
  left:438px;
  top:514px;
  width:375px;
  height:200px;
}
#u14314 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u14315 {
  position:absolute;
  left:456px;
  top:528px;
  width:340px;
  height:150px;
  font-size:26px;
  color:#AEAEAE;
}
#u14316 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  word-wrap:break-word;
}
#u14317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14317 {
  position:absolute;
  left:451px;
  top:687px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14318 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:36px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u14319 {
  position:absolute;
  left:456px;
  top:537px;
  width:61px;
  height:26px;
  font-size:10px;
  color:#6B6B6B;
}
#u14320 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u14321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14321 {
  position:absolute;
  left:438px;
  top:724px;
  width:375px;
  height:200px;
}
#u14322 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u14323 {
  position:absolute;
  left:456px;
  top:738px;
  width:340px;
  height:150px;
  font-size:26px;
  color:#AEAEAE;
}
#u14324 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  word-wrap:break-word;
}
#u14325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14325 {
  position:absolute;
  left:451px;
  top:897px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14326 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.666666666666667);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14327 {
  position:absolute;
  left:456px;
  top:796px;
  width:340px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u14328 {
  position:absolute;
  left:2px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u14329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14329 {
  position:absolute;
  left:438px;
  top:934px;
  width:375px;
  height:200px;
}
#u14330 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u14331 {
  position:absolute;
  left:456px;
  top:948px;
  width:340px;
  height:150px;
  font-size:26px;
  color:#AEAEAE;
}
#u14332 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  word-wrap:break-word;
}
#u14333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14333 {
  position:absolute;
  left:451px;
  top:1107px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14334 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.666666666666667);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14335 {
  position:absolute;
  left:456px;
  top:1006px;
  width:340px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u14336 {
  position:absolute;
  left:2px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u14337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14337 {
  position:absolute;
  left:438px;
  top:1144px;
  width:375px;
  height:200px;
}
#u14338 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:151px;
}
#u14339 {
  position:absolute;
  left:456px;
  top:1158px;
  width:340px;
  height:150px;
  font-size:26px;
  color:#AEAEAE;
}
#u14340 {
  position:absolute;
  left:2px;
  top:60px;
  width:336px;
  word-wrap:break-word;
}
#u14341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u14341 {
  position:absolute;
  left:451px;
  top:1317px;
  width:200px;
  height:19px;
  font-size:12px;
  color:#868686;
}
#u14342 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u14343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.666666666666667);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14343 {
  position:absolute;
  left:456px;
  top:1216px;
  width:340px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u14344 {
  position:absolute;
  left:2px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u14345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u14345 {
  position:absolute;
  left:552px;
  top:1355px;
  width:148px;
  height:20px;
  color:#515151;
}
#u14346 {
  position:absolute;
  left:2px;
  top:2px;
  width:142px;
  white-space:nowrap;
}
#u14347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u14347 {
  position:absolute;
  left:854px;
  top:45px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u14348 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u14349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u14349 {
  position:absolute;
  left:854px;
  top:86px;
  width:423px;
  height:81px;
  font-size:15px;
  color:#FFFFFF;
}
#u14350 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
