body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13590 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u13591 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u13592 {
  position:absolute;
  left:137px;
  top:46px;
  width:142px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u13593 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u13594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:658px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
}
#u13594 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:658px;
}
#u13595 {
  position:absolute;
  left:2px;
  top:321px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13596 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u13597 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u13598 {
  position:absolute;
  left:187px;
  top:767px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u13599 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13600 {
  position:absolute;
  left:445px;
  top:189px;
  width:343px;
  height:185px;
}
#u13601 {
  position:absolute;
  left:2px;
  top:84px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u13602 {
  position:absolute;
  left:449px;
  top:324px;
  width:334px;
  height:1px;
}
#u13603 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u13604 {
  position:absolute;
  left:619px;
  top:327px;
  width:1px;
  height:46px;
}
#u13605 {
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u13606 {
  position:absolute;
  left:484px;
  top:340px;
  width:94px;
  height:19px;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u13607 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u13608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u13608 {
  position:absolute;
  left:655px;
  top:341px;
  width:94px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
  text-align:center;
}
#u13609 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u13610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13610 {
  position:absolute;
  left:561px;
  top:209px;
  width:113px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u13611 {
  position:absolute;
  left:0px;
  top:5px;
  width:113px;
  word-wrap:break-word;
}
#u13612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-align:center;
  line-height:22px;
}
#u13612 {
  position:absolute;
  left:465px;
  top:255px;
  width:303px;
  height:39px;
  font-size:17px;
  text-align:center;
  line-height:22px;
}
#u13613 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u13614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:95px;
}
#u13614 {
  position:absolute;
  left:34px;
  top:98px;
  width:80px;
  height:94px;
  font-size:15px;
  color:#797979;
}
#u13615 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u13616 {
  position:absolute;
  left:1041px;
  top:262px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13617 {
  position:absolute;
  left:158px;
  top:864px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13618 {
  position:absolute;
  left:424px;
  top:84px;
  width:541px;
  height:80px;
  color:#FFFFFF;
}
#u13619 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u13620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u13620 {
  position:absolute;
  left:132px;
  top:101px;
  width:103px;
  height:20px;
  font-size:17px;
}
#u13621 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u13622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u13622 {
  position:absolute;
  left:132px;
  top:131px;
  width:247px;
  height:32px;
  font-size:14px;
  color:#797979;
}
#u13623 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13624 {
  position:absolute;
  left:132px;
  top:179px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u13625 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13626 {
  position:absolute;
  left:306px;
  top:179px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u13627 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13628 {
  position:absolute;
  left:20px;
  top:209px;
  width:375px;
  height:1px;
}
#u13629 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13630 {
  position:absolute;
  left:424px;
  top:406px;
  width:199px;
  height:80px;
  color:#FFFFFF;
}
#u13631 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u13632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:95px;
}
#u13632 {
  position:absolute;
  left:34px;
  top:223px;
  width:80px;
  height:94px;
  font-size:15px;
  color:#797979;
}
#u13633 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u13634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u13634 {
  position:absolute;
  left:132px;
  top:226px;
  width:103px;
  height:20px;
  font-size:17px;
}
#u13635 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u13636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u13636 {
  position:absolute;
  left:132px;
  top:256px;
  width:247px;
  height:32px;
  font-size:14px;
  color:#797979;
}
#u13637 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13638 {
  position:absolute;
  left:132px;
  top:304px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u13639 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13640 {
  position:absolute;
  left:306px;
  top:304px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u13641 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13642 {
  position:absolute;
  left:20px;
  top:334px;
  width:375px;
  height:1px;
}
#u13643 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:95px;
}
#u13644 {
  position:absolute;
  left:34px;
  top:349px;
  width:80px;
  height:94px;
  font-size:15px;
  color:#797979;
}
#u13645 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u13646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u13646 {
  position:absolute;
  left:132px;
  top:352px;
  width:103px;
  height:20px;
  font-size:17px;
}
#u13647 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u13648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u13648 {
  position:absolute;
  left:132px;
  top:382px;
  width:247px;
  height:32px;
  font-size:14px;
  color:#797979;
}
#u13649 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13650 {
  position:absolute;
  left:132px;
  top:430px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u13651 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13652 {
  position:absolute;
  left:306px;
  top:430px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u13653 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13654 {
  position:absolute;
  left:20px;
  top:460px;
  width:375px;
  height:1px;
}
#u13655 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:95px;
}
#u13656 {
  position:absolute;
  left:34px;
  top:474px;
  width:80px;
  height:94px;
  font-size:15px;
  color:#797979;
}
#u13657 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u13658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u13658 {
  position:absolute;
  left:132px;
  top:477px;
  width:103px;
  height:20px;
  font-size:17px;
}
#u13659 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u13660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u13660 {
  position:absolute;
  left:132px;
  top:507px;
  width:247px;
  height:32px;
  font-size:14px;
  color:#797979;
}
#u13661 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13662 {
  position:absolute;
  left:132px;
  top:555px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u13663 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13664 {
  position:absolute;
  left:306px;
  top:555px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u13665 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13666 {
  position:absolute;
  left:20px;
  top:585px;
  width:375px;
  height:1px;
}
#u13667 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:95px;
}
#u13668 {
  position:absolute;
  left:34px;
  top:601px;
  width:80px;
  height:94px;
  font-size:15px;
  color:#797979;
}
#u13669 {
  position:absolute;
  left:2px;
  top:38px;
  width:76px;
  word-wrap:break-word;
}
#u13670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u13670 {
  position:absolute;
  left:132px;
  top:604px;
  width:103px;
  height:20px;
  font-size:17px;
}
#u13671 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u13672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
}
#u13672 {
  position:absolute;
  left:132px;
  top:634px;
  width:247px;
  height:32px;
  font-size:14px;
  color:#797979;
}
#u13673 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u13674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13674 {
  position:absolute;
  left:132px;
  top:682px;
  width:53px;
  height:16px;
  color:#A1A1A1;
}
#u13675 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u13676 {
  position:absolute;
  left:306px;
  top:682px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u13677 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13678 {
  position:absolute;
  left:20px;
  top:712px;
  width:375px;
  height:1px;
}
#u13679 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
