body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14096 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:666px;
}
#u14097 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14098 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u14099 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14100 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u14101 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14102 {
  position:absolute;
  left:102px;
  top:46px;
  width:212px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u14103 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u14104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
}
#u14104 {
  position:absolute;
  left:20px;
  top:96px;
  width:375px;
  height:50px;
}
#u14105 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u14106 {
  position:absolute;
  left:38px;
  top:110px;
  width:37px;
  height:23px;
  font-size:16px;
  color:#1E1E1E;
}
#u14107 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u14108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AEAEAE;
}
#u14108 {
  position:absolute;
  left:267px;
  top:112px;
  width:89px;
  height:20px;
  font-size:14px;
  color:#AEAEAE;
}
#u14109 {
  position:absolute;
  left:2px;
  top:1px;
  width:87px;
  white-space:nowrap;
}
#u14110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(201, 201, 201, 0.349019607843137);
}
#u14110 {
  position:absolute;
  left:20px;
  top:145px;
  width:375px;
  height:106px;
}
#u14111 {
  position:absolute;
  left:2px;
  top:45px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AEAEAE;
}
#u14112 {
  position:absolute;
  left:38px;
  top:162px;
  width:89px;
  height:20px;
  font-size:14px;
  color:#AEAEAE;
}
#u14113 {
  position:absolute;
  left:2px;
  top:1px;
  width:87px;
  white-space:nowrap;
}
#u14114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u14114 {
  position:absolute;
  left:34px;
  top:145px;
  width:361px;
  height:1px;
  color:#AEAEAE;
}
#u14115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u14116 {
  position:absolute;
  left:369px;
  top:114px;
  width:9px;
  height:15px;
}
#u14117 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
