body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8189 {
  position:absolute;
  left:21px;
  top:20px;
  width:375px;
  height:666px;
}
#u8190 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8191 {
  position:absolute;
  left:21px;
  top:20px;
  width:375px;
  height:64px;
}
#u8192 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u8193 {
  position:absolute;
  left:138px;
  top:46px;
  width:142px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u8194 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u8195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8195 {
  position:absolute;
  left:21px;
  top:125px;
  width:374px;
  height:262px;
}
#u8196 {
  position:absolute;
  left:2px;
  top:123px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8198 {
  position:absolute;
  left:24px;
  top:143px;
  width:48px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8199 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u8200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8200 {
  position:absolute;
  left:32px;
  top:166px;
  width:17px;
  height:18px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8201 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u8202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8202 {
  position:absolute;
  left:209px;
  top:151px;
  width:55px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8203 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u8204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8204 {
  position:absolute;
  left:314px;
  top:146px;
  width:69px;
  height:30px;
  font-size:14px;
}
#u8205 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u8206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u8206 {
  position:absolute;
  left:25px;
  top:194px;
  width:370px;
  height:1px;
}
#u8207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u8208 {
  position:absolute;
  left:30px;
  top:94px;
  width:75px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u8209 {
  position:absolute;
  left:2px;
  top:1px;
  width:73px;
  white-space:nowrap;
}
#u8210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u8210 {
  position:absolute;
  left:214px;
  top:95px;
  width:47px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u8211 {
  position:absolute;
  left:2px;
  top:1px;
  width:44px;
  white-space:nowrap;
}
#u8212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u8212 {
  position:absolute;
  left:336px;
  top:95px;
  width:47px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u8213 {
  position:absolute;
  left:2px;
  top:1px;
  width:44px;
  white-space:nowrap;
}
#u8214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8215 {
  position:absolute;
  left:24px;
  top:207px;
  width:48px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8216 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u8217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8217 {
  position:absolute;
  left:209px;
  top:215px;
  width:55px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8218 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u8219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8219 {
  position:absolute;
  left:314px;
  top:210px;
  width:69px;
  height:30px;
  font-size:14px;
}
#u8220 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u8221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u8221 {
  position:absolute;
  left:25px;
  top:258px;
  width:370px;
  height:1px;
}
#u8222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u8224 {
  position:absolute;
  left:30px;
  top:271px;
  width:120px;
  height:16px;
  font-size:14px;
  color:#515151;
}
#u8225 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8226 {
  position:absolute;
  left:30px;
  top:294px;
  width:23px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8227 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u8228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8228 {
  position:absolute;
  left:209px;
  top:279px;
  width:55px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8229 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u8230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8230 {
  position:absolute;
  left:314px;
  top:274px;
  width:69px;
  height:30px;
  font-size:14px;
}
#u8231 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u8232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u8232 {
  position:absolute;
  left:25px;
  top:322px;
  width:370px;
  height:1px;
}
#u8233 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8235 {
  position:absolute;
  left:26px;
  top:335px;
  width:87px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8236 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u8237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8237 {
  position:absolute;
  left:25px;
  top:358px;
  width:24px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u8238 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u8239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8239 {
  position:absolute;
  left:209px;
  top:343px;
  width:55px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u8240 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u8241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8241 {
  position:absolute;
  left:314px;
  top:338px;
  width:69px;
  height:30px;
  font-size:14px;
}
#u8242 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u8243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u8243 {
  position:absolute;
  left:25px;
  top:386px;
  width:370px;
  height:1px;
}
#u8244 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u8245 {
  position:absolute;
  left:109px;
  top:410px;
  width:191px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
}
#u8246 {
  position:absolute;
  left:2px;
  top:2px;
  width:194px;
  white-space:nowrap;
}
#u8247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8247 {
  position:absolute;
  left:31px;
  top:45px;
  width:24px;
  height:24px;
}
#u8248 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u8249 {
  position:absolute;
  left:184px;
  top:716px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u8250 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
