body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:967px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10005 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:666px;
  overflow:hidden;
}
#u10005_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10005_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1109px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10006 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1109px;
}
#u10007 {
  position:absolute;
  left:2px;
  top:546px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10008 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u10009 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10010 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u10012 {
  position:absolute;
  left:20px;
  top:315px;
  width:375px;
  height:50px;
}
#u10013 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u10014 {
  position:absolute;
  left:163px;
  top:46px;
  width:90px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u10015 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u10016 {
  position:absolute;
  left:59px;
  top:330px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u10017 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u10018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u10018 {
  position:absolute;
  left:178px;
  top:331px;
  width:65px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u10019 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u10020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u10020 {
  position:absolute;
  left:315px;
  top:330px;
  width:35px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u10021 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u10022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:3px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10022 {
  position:absolute;
  left:175px;
  top:362px;
  width:69px;
  height:3px;
}
#u10023 {
  position:absolute;
  left:2px;
  top:-6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:222px;
}
#u10024 {
  position:absolute;
  left:20px;
  top:84px;
  width:375px;
  height:221px;
  font-size:16px;
}
#u10025 {
  position:absolute;
  left:2px;
  top:101px;
  width:371px;
  word-wrap:break-word;
}
#u10026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u10026 {
  position:absolute;
  left:354px;
  top:268px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u10027 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.447058823529412);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10028 {
  position:absolute;
  left:26px;
  top:260px;
  width:203px;
  height:38px;
  color:#FFFFFF;
}
#u10029 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u10030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u10030 {
  position:absolute;
  left:353px;
  top:42px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u10031 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u10032 {
  position:absolute;
  left:190px;
  top:990px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u10033 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:607px;
}
#u10034 {
  position:absolute;
  left:20px;
  top:364px;
  width:375px;
  height:607px;
}
#u10035 {
  position:absolute;
  left:2px;
  top:296px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:176px;
}
#u10036 {
  position:absolute;
  left:427px;
  top:60px;
  width:375px;
  height:176px;
  font-size:14px;
  color:#FFFFFF;
}
#u10037 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u10038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 102, 102, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u10038 {
  position:absolute;
  left:20px;
  top:365px;
  width:375px;
  height:34px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u10039 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u10040 {
  position:absolute;
  left:82px;
  top:417px;
  width:99px;
  height:16px;
  color:#5E5E5E;
}
#u10041 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u10042 {
  position:absolute;
  left:867px;
  top:175px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10043 {
  position:absolute;
  left:330px;
  top:373px;
  width:53px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10044 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u10045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10045 {
  position:absolute;
  left:33px;
  top:414px;
  width:37px;
  height:21px;
  font-size:12px;
}
#u10046 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u10047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#282828;
}
#u10047 {
  position:absolute;
  left:82px;
  top:443px;
  width:306px;
  height:76px;
  font-size:16px;
  color:#282828;
}
#u10048 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u10049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u10049 {
  position:absolute;
  left:83px;
  top:518px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u10050 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u10051 {
  position:absolute;
  left:314px;
  top:518px;
  width:63px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u10052 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u10053 {
  position:absolute;
  left:82px;
  top:545px;
  width:313px;
  height:1px;
}
#u10054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u10055 {
  position:absolute;
  left:82px;
  top:564px;
  width:85px;
  height:16px;
  color:#5E5E5E;
}
#u10056 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u10057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10057 {
  position:absolute;
  left:33px;
  top:561px;
  width:37px;
  height:21px;
  font-size:12px;
}
#u10058 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u10059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#282828;
}
#u10059 {
  position:absolute;
  left:82px;
  top:590px;
  width:306px;
  height:38px;
  font-size:16px;
  color:#282828;
}
#u10060 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u10061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u10061 {
  position:absolute;
  left:314px;
  top:645px;
  width:63px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u10062 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u10063 {
  position:absolute;
  left:20px;
  top:672px;
  width:375px;
  height:1px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u10065 {
  position:absolute;
  left:242px;
  top:331px;
  width:7px;
  height:7px;
}
#u10066 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u10067 {
  position:absolute;
  left:82px;
  top:690px;
  width:85px;
  height:16px;
  color:#5E5E5E;
}
#u10068 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u10069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10069 {
  position:absolute;
  left:33px;
  top:687px;
  width:37px;
  height:21px;
  font-size:12px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u10071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u10071 {
  position:absolute;
  left:314px;
  top:771px;
  width:63px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u10072 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u10073 {
  position:absolute;
  left:82px;
  top:798px;
  width:313px;
  height:1px;
}
#u10074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u10075 {
  position:absolute;
  left:82px;
  top:816px;
  width:85px;
  height:16px;
  color:#5E5E5E;
}
#u10076 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u10077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10077 {
  position:absolute;
  left:33px;
  top:813px;
  width:37px;
  height:21px;
  font-size:12px;
}
#u10078 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u10079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#282828;
}
#u10079 {
  position:absolute;
  left:82px;
  top:842px;
  width:306px;
  height:95px;
  font-size:16px;
  color:#282828;
}
#u10080 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u10081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u10081 {
  position:absolute;
  left:83px;
  top:917px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u10082 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u10083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u10083 {
  position:absolute;
  left:314px;
  top:917px;
  width:63px;
  height:15px;
  font-size:12px;
  color:#868686;
}
#u10084 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u10085 {
  position:absolute;
  left:82px;
  top:944px;
  width:313px;
  height:1px;
}
#u10086 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10087 {
  position:absolute;
  left:158px;
  top:1083px;
  width:100px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#282828;
}
#u10088 {
  position:absolute;
  left:82px;
  top:716px;
  width:306px;
  height:38px;
  font-size:16px;
  color:#282828;
}
#u10089 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
