body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:564px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10861 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:666px;
  overflow:hidden;
}
#u10861_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10861_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10862 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u10863 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10864 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u10865 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u10866 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u10867 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u10868 {
  position:absolute;
  left:132px;
  top:46px;
  width:151px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u10869 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u10870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u10870 {
  position:absolute;
  left:353px;
  top:42px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u10871 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u10872 {
  position:absolute;
  left:187px;
  top:716px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u10873 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#515151;
}
#u10874 {
  position:absolute;
  left:108px;
  top:113px;
  width:199px;
  height:26px;
  font-size:22px;
  color:#515151;
}
#u10875 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u10876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#5E5E5E;
}
#u10876 {
  position:absolute;
  left:33px;
  top:165px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u10877 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#5E5E5E;
}
#u10878 {
  position:absolute;
  left:149px;
  top:165px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u10879 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#5E5E5E;
}
#u10880 {
  position:absolute;
  left:276px;
  top:165px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u10881 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u10882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#5E5E5E;
  line-height:20px;
}
#u10882 {
  position:absolute;
  left:33px;
  top:208px;
  width:350px;
  height:106px;
  font-size:15px;
  color:#5E5E5E;
  line-height:20px;
}
#u10883 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u10884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:163px;
}
#u10884 {
  position:absolute;
  left:33px;
  top:333px;
  width:341px;
  height:162px;
  font-size:30px;
  color:#BCBCBC;
}
#u10885 {
  position:absolute;
  left:2px;
  top:64px;
  width:337px;
  word-wrap:break-word;
}
#u10886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10886 {
  position:absolute;
  left:433px;
  top:362px;
  width:127px;
  height:16px;
  color:#FFFFFF;
}
#u10887 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
