body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8049 {
  position:absolute;
  left:21px;
  top:20px;
  width:375px;
  height:666px;
}
#u8050 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8051 {
  position:absolute;
  left:21px;
  top:20px;
  width:375px;
  height:64px;
}
#u8052 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u8053 {
  position:absolute;
  left:138px;
  top:46px;
  width:142px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u8054 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:62px;
}
#u8056 {
  position:absolute;
  left:20px;
  top:625px;
  width:378px;
  height:62px;
}
#u8057 {
  position:absolute;
  left:2px;
  top:23px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
}
#u8058 {
  position:absolute;
  left:165px;
  top:625px;
  width:80px;
  height:61px;
}
#u8059 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8060 {
  position:absolute;
  left:43px;
  top:629px;
  width:32px;
  height:32px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8062 {
  position:absolute;
  left:45px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8063 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8064 {
  position:absolute;
  left:117px;
  top:629px;
  width:32px;
  height:32px;
}
#u8065 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8066 {
  position:absolute;
  left:118px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8067 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8068 {
  position:absolute;
  left:189px;
  top:629px;
  width:32px;
  height:32px;
}
#u8069 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8070 {
  position:absolute;
  left:192px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8071 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8072 {
  position:absolute;
  left:337px;
  top:629px;
  width:32px;
  height:32px;
}
#u8073 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8074 {
  position:absolute;
  left:346px;
  top:665px;
  width:15px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8075 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8076 {
  position:absolute;
  left:263px;
  top:629px;
  width:32px;
  height:32px;
}
#u8077 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8078 {
  position:absolute;
  left:265px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8079 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8080 {
  position:absolute;
  left:21px;
  top:84px;
  width:375px;
  height:46px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8082 {
  position:absolute;
  left:39px;
  top:97px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8083 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8084 {
  position:absolute;
  left:129px;
  top:97px;
  width:65px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8085 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u8086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8086 {
  position:absolute;
  left:234px;
  top:97px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8087 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u8088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8088 {
  position:absolute;
  left:325px;
  top:97px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8089 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u8090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:3px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8090 {
  position:absolute;
  left:41px;
  top:127px;
  width:45px;
  height:3px;
}
#u8091 {
  position:absolute;
  left:2px;
  top:-6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8092 {
  position:absolute;
  left:21px;
  top:141px;
  width:375px;
  height:202px;
}
#u8093 {
  position:absolute;
  left:2px;
  top:93px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u8094 {
  position:absolute;
  left:190px;
  top:163px;
  width:37px;
  height:37px;
  font-size:14px;
}
#u8095 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u8096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:40px;
  background:inherit;
  background-color:rgba(139, 156, 172, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8096 {
  position:absolute;
  left:51px;
  top:372px;
  width:315px;
  height:40px;
  font-size:16px;
}
#u8097 {
  position:absolute;
  left:2px;
  top:10px;
  width:311px;
  word-wrap:break-word;
}
#u8098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u8098 {
  position:absolute;
  left:67px;
  top:215px;
  width:298px;
  height:28px;
  font-size:20px;
  color:#1E1E1E;
}
#u8099 {
  position:absolute;
  left:2px;
  top:2px;
  width:294px;
  word-wrap:break-word;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8100 {
  position:absolute;
  left:71px;
  top:265px;
  width:275px;
  height:20px;
  font-size:14px;
}
#u8101 {
  position:absolute;
  left:2px;
  top:1px;
  width:271px;
  word-wrap:break-word;
}
#u8102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6B6B6B;
}
#u8102 {
  position:absolute;
  left:74px;
  top:310px;
  width:275px;
  height:23px;
  font-size:16px;
  color:#6B6B6B;
}
#u8103 {
  position:absolute;
  left:2px;
  top:2px;
  width:271px;
  word-wrap:break-word;
}
#u8104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8104 {
  position:absolute;
  left:501px;
  top:20px;
  width:375px;
  height:666px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8106 {
  position:absolute;
  left:501px;
  top:20px;
  width:375px;
  height:64px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u8108 {
  position:absolute;
  left:618px;
  top:46px;
  width:142px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:62px;
}
#u8111 {
  position:absolute;
  left:500px;
  top:625px;
  width:378px;
  height:62px;
}
#u8112 {
  position:absolute;
  left:2px;
  top:23px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
}
#u8113 {
  position:absolute;
  left:645px;
  top:625px;
  width:80px;
  height:61px;
}
#u8114 {
  position:absolute;
  left:2px;
  top:22px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8115 {
  position:absolute;
  left:523px;
  top:629px;
  width:32px;
  height:32px;
}
#u8116 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8117 {
  position:absolute;
  left:525px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8118 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8119 {
  position:absolute;
  left:597px;
  top:629px;
  width:32px;
  height:32px;
}
#u8120 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8121 {
  position:absolute;
  left:598px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8122 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8123 {
  position:absolute;
  left:669px;
  top:629px;
  width:32px;
  height:32px;
}
#u8124 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8125 {
  position:absolute;
  left:672px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8126 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8127 {
  position:absolute;
  left:817px;
  top:629px;
  width:32px;
  height:32px;
}
#u8128 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8129 {
  position:absolute;
  left:826px;
  top:665px;
  width:15px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8130 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8131 {
  position:absolute;
  left:743px;
  top:629px;
  width:32px;
  height:32px;
}
#u8132 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8133 {
  position:absolute;
  left:745px;
  top:665px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u8134 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8135 {
  position:absolute;
  left:501px;
  top:84px;
  width:375px;
  height:46px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8137 {
  position:absolute;
  left:519px;
  top:97px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8138 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8139 {
  position:absolute;
  left:609px;
  top:97px;
  width:65px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8140 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8141 {
  position:absolute;
  left:714px;
  top:97px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8142 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1E1E1E;
}
#u8143 {
  position:absolute;
  left:805px;
  top:97px;
  width:50px;
  height:21px;
  font-size:15px;
  color:#1E1E1E;
}
#u8144 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  white-space:nowrap;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:3px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8145 {
  position:absolute;
  left:521px;
  top:127px;
  width:45px;
  height:3px;
}
#u8146 {
  position:absolute;
  left:2px;
  top:-6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u8147 {
  position:absolute;
  left:841px;
  top:47px;
  width:20px;
  height:22px;
}
#u8148 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8149 {
  position:absolute;
  left:501px;
  top:290px;
  width:375px;
  height:47px;
}
#u8150 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8151 {
  position:absolute;
  left:516px;
  top:305px;
  width:115px;
  height:19px;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8152 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u8153 {
  position:absolute;
  left:756px;
  top:307px;
  width:105px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u8154 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8155 {
  position:absolute;
  left:501px;
  top:461px;
  width:375px;
  height:47px;
}
#u8156 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8157 {
  position:absolute;
  left:516px;
  top:476px;
  width:115px;
  height:19px;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8158 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u8159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u8159 {
  position:absolute;
  left:852px;
  top:478px;
  width:9px;
  height:15px;
}
#u8160 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8161 {
  position:absolute;
  left:501px;
  top:518px;
  width:375px;
  height:47px;
}
#u8162 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8163 {
  position:absolute;
  left:516px;
  top:533px;
  width:115px;
  height:19px;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8164 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u8165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u8165 {
  position:absolute;
  left:852px;
  top:535px;
  width:9px;
  height:15px;
}
#u8166 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8167 {
  position:absolute;
  left:501px;
  top:404px;
  width:375px;
  height:47px;
}
#u8168 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8169 {
  position:absolute;
  left:516px;
  top:420px;
  width:115px;
  height:19px;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8170 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u8171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8171 {
  position:absolute;
  left:841px;
  top:418px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u8172 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u8173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8173 {
  position:absolute;
  left:501px;
  top:347px;
  width:375px;
  height:47px;
}
#u8174 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8175 {
  position:absolute;
  left:516px;
  top:363px;
  width:115px;
  height:19px;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u8176 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u8177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u8177 {
  position:absolute;
  left:852px;
  top:364px;
  width:9px;
  height:15px;
}
#u8178 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:151px;
}
#u8179 {
  position:absolute;
  left:501px;
  top:130px;
  width:375px;
  height:150px;
  font-size:20px;
}
#u8180 {
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  word-wrap:break-word;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8181 {
  position:absolute;
  left:683px;
  top:261px;
  width:12px;
  height:12px;
}
#u8182 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8183 {
  position:absolute;
  left:667px;
  top:261px;
  width:12px;
  height:12px;
}
#u8184 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u8185 {
  position:absolute;
  left:697px;
  top:261px;
  width:12px;
  height:12px;
}
#u8186 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u8187 {
  position:absolute;
  left:664px;
  top:716px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u8188 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
