body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7500 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u7501 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7502 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:150px;
}
#u7503 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#1B1B1B;
  text-align:center;
}
#u7504 {
  position:absolute;
  left:140px;
  top:46px;
  width:135px;
  height:23px;
  font-size:19px;
  color:#1B1B1B;
  text-align:center;
}
#u7505 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u7506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u7506 {
  position:absolute;
  left:35px;
  top:47px;
  width:12px;
  height:22px;
}
#u7507 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7509 {
  position:absolute;
  left:52px;
  top:108px;
  width:22px;
  height:22px;
}
#u7510 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7511 {
  position:absolute;
  left:58px;
  top:114px;
  width:10px;
  height:10px;
}
#u7512 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7513 {
  position:absolute;
  left:33px;
  top:139px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7514 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7516 {
  position:absolute;
  left:155px;
  top:114px;
  width:10px;
  height:10px;
}
#u7517 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7518 {
  position:absolute;
  left:130px;
  top:139px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7519 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7521 {
  position:absolute;
  left:348px;
  top:114px;
  width:10px;
  height:10px;
}
#u7522 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7523 {
  position:absolute;
  left:323px;
  top:139px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7524 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7525 {
  position:absolute;
  left:20px;
  top:180px;
  width:375px;
  height:507px;
}
#u7526 {
  position:absolute;
  left:2px;
  top:246px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u7527 {
  position:absolute;
  left:274px;
  top:119px;
  width:60px;
  height:1px;
}
#u7528 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u7529 {
  position:absolute;
  left:38px;
  top:207px;
  width:341px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u7530 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u7531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7531 {
  position:absolute;
  left:42px;
  top:279px;
  width:185px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7532 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u7533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7533 {
  position:absolute;
  left:87px;
  top:317px;
  width:82px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7534 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u7535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7535 {
  position:absolute;
  left:86px;
  top:353px;
  width:73px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7536 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7537 {
  position:absolute;
  left:85px;
  top:390px;
  width:74px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7538 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u7539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7539 {
  position:absolute;
  left:87px;
  top:427px;
  width:74px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7540 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u7541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7541 {
  position:absolute;
  left:86px;
  top:459px;
  width:82px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7542 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u7543 {
  position:absolute;
  left:62px;
  top:319px;
  width:17px;
  height:16px;
}
#u7544 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7543_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7545 {
  position:absolute;
  left:62px;
  top:430px;
  width:17px;
  height:16px;
}
#u7546 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7545_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7547 {
  position:absolute;
  left:62px;
  top:355px;
  width:17px;
  height:16px;
}
#u7548 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7547_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7549 {
  position:absolute;
  left:62px;
  top:461px;
  width:17px;
  height:16px;
}
#u7550 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7549_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7551 {
  position:absolute;
  left:62px;
  top:392px;
  width:17px;
  height:16px;
}
#u7552 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7551_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7554 {
  position:absolute;
  left:251px;
  top:114px;
  width:10px;
  height:10px;
}
#u7555 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7556 {
  position:absolute;
  left:226px;
  top:139px;
  width:59px;
  height:16px;
  font-size:14px;
  color:#5E5E5E;
  text-align:center;
}
#u7557 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u7558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u7558 {
  position:absolute;
  left:181px;
  top:119px;
  width:60px;
  height:1px;
}
#u7559 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u7560 {
  position:absolute;
  left:85px;
  top:119px;
  width:60px;
  height:1px;
}
#u7561 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7562 {
  position:absolute;
  left:424px;
  top:20px;
  width:375px;
  height:667px;
}
#u7563 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7564 {
  position:absolute;
  left:440px;
  top:167px;
  width:345px;
  height:342px;
}
#u7565 {
  position:absolute;
  left:2px;
  top:163px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
  line-height:20px;
}
#u7566 {
  position:absolute;
  left:464px;
  top:197px;
  width:296px;
  height:207px;
  color:#797979;
  line-height:20px;
}
#u7567 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u7568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u7568 {
  position:absolute;
  left:751px;
  top:188px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u7569 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u7570 {
  position:absolute;
  left:751px;
  top:188px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u7571 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
  line-height:20px;
}
#u7572 {
  position:absolute;
  left:464px;
  top:414px;
  width:296px;
  height:74px;
  font-size:14px;
  color:#FF0000;
  line-height:20px;
}
#u7573 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u7574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7574 {
  position:absolute;
  left:837px;
  top:20px;
  width:375px;
  height:667px;
}
#u7575 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7576 {
  position:absolute;
  left:860px;
  top:82px;
  width:330px;
  height:544px;
}
#u7577 {
  position:absolute;
  left:2px;
  top:264px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7578 {
  position:absolute;
  left:985px;
  top:130px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u7579 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u7580 {
  position:absolute;
  left:929px;
  top:231px;
  width:193px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
}
#u7581 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7582 {
  position:absolute;
  left:955px;
  top:262px;
  width:141px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7583 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u7584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u7584 {
  position:absolute;
  left:881px;
  top:322px;
  width:289px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6B6B6B;
  text-align:center;
}
#u7585 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u7586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u7586 {
  position:absolute;
  left:889px;
  top:522px;
  width:277px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u7587 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u7588 {
  position:absolute;
  left:889px;
  top:499px;
  width:141px;
  height:16px;
  font-size:12px;
}
#u7589 {
  position:absolute;
  left:16px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u7588_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:40px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#434343;
}
#u7590 {
  position:absolute;
  left:885px;
  top:438px;
  width:279px;
  height:40px;
  font-size:16px;
  color:#434343;
}
#u7591 {
  position:absolute;
  left:2px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
#u7592 {
  position:absolute;
  left:1239px;
  top:288px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
