body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9696 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:713px;
  overflow:hidden;
}
#u9696_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:713px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9696_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:713px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9697 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:713px;
}
#u9698 {
  position:absolute;
  left:2px;
  top:348px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9699 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u9700 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9701 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u9702 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u9703 {
  position:absolute;
  left:173px;
  top:46px;
  width:69px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u9704 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u9705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u9705 {
  position:absolute;
  left:353px;
  top:42px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u9706 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u9707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9707 {
  position:absolute;
  left:439px;
  top:46px;
  width:216px;
  height:32px;
  font-size:14px;
  color:#FFFFFF;
}
#u9708 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u9709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u9709 {
  position:absolute;
  left:526px;
  top:100px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u9710 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#5E5E5E;
  line-height:24px;
}
#u9711 {
  position:absolute;
  left:37px;
  top:202px;
  width:346px;
  height:427px;
  font-size:16px;
  color:#5E5E5E;
  line-height:24px;
}
#u9712 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u9713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#1B1B1B;
}
#u9713 {
  position:absolute;
  left:36px;
  top:113px;
  width:325px;
  height:46px;
  font-size:19px;
  color:#1B1B1B;
}
#u9714 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u9715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#949494;
  line-height:20px;
}
#u9715 {
  position:absolute;
  left:37px;
  top:168px;
  width:158px;
  height:17px;
  font-size:14px;
  color:#949494;
  line-height:20px;
}
#u9716 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
