body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6248 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:666px;
}
#u6249 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6250 {
  position:absolute;
  left:20px;
  top:124px;
  width:375px;
  height:134px;
}
#u6251 {
  position:absolute;
  left:2px;
  top:59px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6252 {
  position:absolute;
  left:134px;
  top:147px;
  width:94px;
  height:26px;
}
#u6253 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u6254 {
  position:absolute;
  left:34px;
  top:152px;
  width:61px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u6255 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6256 {
  position:absolute;
  left:158px;
  top:150px;
  width:63px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6257 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u6258 {
  position:absolute;
  left:25px;
  top:195px;
  width:370px;
  height:1px;
}
#u6259 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u6260 {
  position:absolute;
  left:34px;
  top:94px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u6261 {
  position:absolute;
  left:2px;
  top:1px;
  width:54px;
  white-space:nowrap;
}
#u6262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u6262 {
  position:absolute;
  left:143px;
  top:95px;
  width:97px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u6263 {
  position:absolute;
  left:2px;
  top:1px;
  width:95px;
  white-space:nowrap;
}
#u6264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u6264 {
  position:absolute;
  left:282px;
  top:95px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u6265 {
  position:absolute;
  left:2px;
  top:1px;
  width:38px;
  white-space:nowrap;
}
#u6266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
}
#u6266 {
  position:absolute;
  left:336px;
  top:95px;
  width:53px;
  height:20px;
  font-size:14px;
  color:#868686;
}
#u6267 {
  position:absolute;
  left:2px;
  top:1px;
  width:51px;
  white-space:nowrap;
}
#u6268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u6268 {
  position:absolute;
  left:25px;
  top:257px;
  width:370px;
  height:1px;
}
#u6269 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6270 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:64px;
}
#u6271 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6272 {
  position:absolute;
  left:29px;
  top:45px;
  width:24px;
  height:24px;
}
#u6273 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u6274 {
  position:absolute;
  left:164px;
  top:46px;
  width:87px;
  height:23px;
  font-size:19px;
  color:#FFFFFF;
  text-align:center;
}
#u6275 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6276 {
  position:absolute;
  left:134px;
  top:213px;
  width:94px;
  height:26px;
}
#u6277 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6278 {
  position:absolute;
  left:327px;
  top:149px;
  width:43px;
  height:24px;
}
#u6279 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6280 {
  position:absolute;
  left:348px;
  top:151px;
  width:20px;
  height:20px;
}
#u6281 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u6282 {
  position:absolute;
  left:34px;
  top:218px;
  width:61px;
  height:16px;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u6283 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u6284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6284 {
  position:absolute;
  left:166px;
  top:216px;
  width:42px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6285 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u6286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u6286 {
  position:absolute;
  left:328px;
  top:217px;
  width:43px;
  height:24px;
}
#u6287 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6288 {
  position:absolute;
  left:331px;
  top:219px;
  width:20px;
  height:20px;
}
#u6289 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6290 {
  position:absolute;
  left:231px;
  top:216px;
  width:28px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6291 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u6292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6292 {
  position:absolute;
  left:231px;
  top:150px;
  width:28px;
  height:19px;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6293 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u6294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6294 {
  position:absolute;
  left:187px;
  top:716px;
  width:42px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u6295 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
